{% include 'layout.html' %} 
{% block subcontent %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=email], input[type=password], input[type=tel], input[type=name] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.main-container {
    width: 50%; /* Could be more or less, depending on screen size */
    background-color: #fefefe;
  margin: 10% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
}

.regbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 650px) {
  .regbtn {
     width: 100%;
  }
}
</style>

<div class="main-container">
  <h2 style="text-align: center">Register</h2>
<form action="/register" method="post">

  <div class="container">
    <label for="name"><b>Name</b></label>
    <input type="name" class="filed" placeholder="Enter Name" name="name" required autofocus>

    <label for="email"><b>Email :</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label for="number"><b>Mobile number</b></label><br>
    <input type="tel" placeholder="Enter Mobile Number" name="contact" required><br>

    <label for="password"><b>Create Password</b></label>
    <input type="password" placeholder="Create Password" name="pass" required>

    <button type="submit">Register</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <h3>Already have an Account ?</h3>
    <a href="/login" ><button type="button" class="regbtn">Login</button></a>
  </div>
</form>
</div>

{% endblock %}
